<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>587033249279-of0mrl5ghcv8eu0slo38i0cal1jpb5uq.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.587033249279-of0mrl5ghcv8eu0slo38i0cal1jpb5uq</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>587033249279-hp264fna4mpqsd6jrenre1mp08o98i4f.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyAaxeqxvIXlYHcequ_5g0e4q0Ew7Ir7V2M</string>
	<key>GCM_SENDER_ID</key>
	<string>587033249279</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.division.app</string>
	<key>PROJECT_ID</key>
	<string>divisionco-4cf76</string>
	<key>STORAGE_BUCKET</key>
	<string>divisionco-4cf76.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:587033249279:ios:de31835bdac33e8db6d3ca</string>
</dict>
</plist>